*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* layout structure */

.header,.footer{
  margin: 24px 0;
}

.content{
  width: 400px;
}

.calculator{
  padding: 18px;
}

.display-box{
  margin: 0 0 9px;
  min-height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-box{
  display: flex;
  flex: 1;
  gap: 6px;
}

.button-col{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
}

.button-row{
  display: flex;
  flex: 1;  
  gap: 6px;
}

button{
  display: block;
  min-height: 80px;
  flex: 1;
}

/* style */

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

.header{
  font-size: 48px;
}

.footer{
  font-size: 18px;
}

.calculator{
  background-color: black;
  border-radius: 18px;
}

p{
  font-size: 27px;
  text-align: end;
  margin: 6px;
  color: rgb(159, 204, 159);
}

.display-box{
  background-color: rgb(68, 68, 68);
  border-radius: 9px;
}

button{
  font-size: 18px;
  border-radius: 9px;
}